.Title {
  background-color: #222222;
  color: #FFFFFF;
  border-bottom: 3px solid #3CCE7B;
  font-size: 14px;
  font-weight: 900;
  padding: 16.5px;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
}